* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* the full height of the viewport */
    position: relative; /* for absolutely elements, realtive to this  */
}
.heading, .heading2 {
    opacity: 0;
    transition: opacity 2s ease;
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    font-size: 60px;
    background-color: black;
    padding: 20px;
    z-index: 1; 
}


#welcome{
    font-family: "Didatic Gothic", sans-serif;
    color: #f0f0f0;
    font-size: 60px;
    padding: 20px;
    z-index: 1; 
}



  .welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    transition: all 1s ease;
  }

.heading2 {
    font-family: "Poppins", sans-serif;
    font-size:20px;
    width: 60%;
    text-align: center;
}



#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0; /* behind other elements */
}

header {
    font-family: "Poppins", sans-serif;
    background-color:transparent; 
    font-size: 15px;
    z-index: 1;
    position: fixed;
    padding: 15px 0;
    width: 100%;
    top:0;
    opacity: 0;
    transition: opacity 2s ease;
    display: flex;
    justify-content: flex-end;
}

nav {
    text-align: center; /* Center align the links */
}

nav a {
    color: white;; 
    text-decoration: none; 
    padding: 20px 20px; /* Padding around each link */
    margin: 20px 10px; /* Margin between each link */
    transition: background-color 0.5s ease; /* transition for background color */
}


nav a:hover {
    background-color: #282828; /* Background color on hover */
}

#username-box{
    display: flex;
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 1;
    border: solid white;
    width: 40%;
    margin-top: 20px;
}

#username-box input[type="text"] {
    border: none;
    background-color: transparent;
    padding: 20px;
    color:#f0f0f0;
    font-size: 15px;
    width: 80%;

}

#username-box button{
    border: none;
    border-left: solid white 1px;
    background-color: transparent;
    color: White;
    padding: 20px;
    cursor: pointer;
    width: 20%;
}

#username-box button:hover{
    background-color:#f0f0f0;
    color: #282828;
    transition: background-color 1s;

}

#whiteBox{
    background-color: #f0f0f0;
    transition: width 2s ease, height 3s ease; /* Transition for size change */
}
#quizTable{
    transition: width 2s ease, height 3s ease; /* Transition for size change */
}

#fadeText{
    transition: opacity 2s;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}


/*Table!!!*/
table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    height: 0px;
    width: 0px;
}

.thin-row {
    height: 20px; /* Adjust height of the second row */
}

.red-border {
    border: 2px solid red;
}

